html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.welcome-container {
    height:100%;
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
