html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Lucida G, Helvetica";
}

body {
    background: black;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#map-canvas img {
    max-width: none !important;
}

.main-panel {
    position: absolute;
    left: 320px;
    right: 140px;
    z-index: 2;
    background: rgba(255,255,255,0.92);
    display: none;
    border-radius: 25px;
    color: black;
}

.main-panel p {
    padding-left: 20px;
}

.main-panel h2 {
    padding: 20px;
}

.button-flat-bottom {
    position: absolute;
    bottom: 0;
    background: #009900;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-style: bold;
    font-size: 12pt;
    cursor: pointer;
}

.button-flat-bottom:hover{
    background: #006600;
}

#logo {
    top: 0px;
    font-size: 30pt;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 4.5rem;
    letter-spacing: -2px;
    text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    padding-bottom: 1rem;
    font-weight: 900;
}

#login-absolute {
    position: absolute;
    top: 0px;
    margin-top: 14px;
    z-index: 2;
    right: 70px;
    background: rgba(255,255,255,0.93);
    border: 1px solid #aaffffff;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    color: black;
}

#login-absolute:hover {
    background: rgba(255,255,255,1.0);
}

#login-buttons {
    cursor: pointer;
}

#login-buttons-logout {
    display: none !important;
}

.welcome-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    text-align: center;
}

.background-map {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.white {
    color: #ffffff;
}

.bold {
    font-style: bold;
}

.pointer {
    cursor: pointer;
}

.gm-style-iw {
    color: black;
    text-align: center;
}

.mr5 {
    margin-right: 5px;
}

.mt50 {
    margin-top: 50px;
}

.circlePic {
    border: 3px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}

.circlePic:hover {
    opacity: 80%;
}

#profilePicContainer {
    text-align: center;
}

.softWhite {
    color: #aaaaaa;
}
